{% comment %} <div class="row">

  <div class="col-lg-9"> {% endcomment %}
            <div  class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                <p class="mb-1"><strong>From:</strong> {{ notice.actor|title }}</p> <small>{{ notice.timestamp|date }} ({{ notice.timesince }} ago)</small></div>
                <h6 class="mb-1"><small ><strong>Subject</small></strong><nobr> {{ notice.verb }}</h6> 
                <p style="word-wrap: break-word; white-space: normal;">
                <small>{{ notice.description|linebreaksbr }}</small> </p>
            
            
                {% comment %} <div class="notice-actions">
                    {% for action in notice.data.actions %}
                      <a class="btn" href="{{ action.href }}">{{ action.title }}</a>
                    {% endfor %}
                  </div> {% endcomment %}
            </div> 
          {% comment %} </div>
        </div> {% endcomment %}
                
               
                      