[label .gitignore]
db.sqlite3
*.pyc
.vscode/*
.env
.env_sadc
.env_local
.venv
.venv/*
/ictobservatory/settings-local.py
/ictobservatory/settings-.py
/ictobservatory/settings_.py
/ictobservatory/settings-upload.py
/ictobservatory/settings.py
/ictobservatory/settings-sadc.py


