{% extends 'base_auth.html' %}
{% load static %}
{% load dataentrytags %}
{% load crispy_forms_tags %}
{% block title %}Set Your Password{% endblock title %}

{% block content %}

  



  {# Assumes you setup the password_reset view in your URLconf #}
 

  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-8 col-md-6 d-flex flex-column align-items-center justify-content-center">

    <div class="d-block justify-content-center text-center "> 

      

      <img src="/static/img/sadc-logo-circle.svg  " width="70" alt="logo">

    
      
      <a href="{% url 'portal:index' %}" 
      class="logo p-2 text-decoration-none d-none d-sm-block d-flex align-items-center w-auto"> 
      
      
      
      {% comment %} <img src= "{% static 'img/logo.png' %}" alt="">  {% endcomment %}
    <h4 class="d-none d-lg-block">SADC ICT Observatory Portal</h5> </a>
  
  </p>
  </div>
  

    <div class="card mb-3 ">
      <di class="card-body ">
      <div class="pt-4 pb-2">

        {% if validlink %}

        <h5 class="card-title text-center pb-0 fs-4">Enter new password</h5>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<p><span class="text-primary"> Must be at least 12 characters with 1 uppercase, 1 numberic and 1 special characters</span></p>



<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1 mb-3">
      
        {{ form.new_password1.errors}}
      
        <label for="id_new_password1">New password:</label>
        {{ form.new_password1|addclass:'form-control' }}
    </div>
    <div class="form-row field-password2 mb-3">
     
        {{ form.new_password2.errors }}
     
        <label for="id_new_password2">Confirm password:</label>
        {{ form.new_password2|addclass:'form-control' }}
    </div>
    <input type="submit" class="btn btn-primary" value="Change my password">
</fieldset>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}


      
  
      </div></div>
    </div>
  </div>
</div>
</section>
</div>
</div>


        {% comment %} <table>
          <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username|addclass:'form-control' }}</td>
          </tr>
          <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password|addclass:'form-control' }}</td>
          </tr>
        </table>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
      </form> {% endcomment %}



{% endblock %}