{% extends 'base_portal.html' %} 
{% load dataentrytags %}

{% load static %} 

{% block title %}About {% endblock title %} 


{% block content %}





  <div id="content">
    <div class="container-fluid" style="min-height:500px;">
      {% comment %} <div class="d-sm-flex justify-content-between align-items-center mb-4">
       <h3 class="text-dark mb-0">SADC ICT Observatory</h3>
      </div> {% endcomment %}

      <section class="section">
        <div class="row align-items-top">
          <div class="col-lg-4">
  
            <!-- Default Card -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">SADC ICT Observatory</h5>
                <p class="text-justify"> 
                The SADC ICT Observatory is one of the flagship projects in the SADC Regional Indicative Strategic Development Plan (RISDP) 2020-2030 as well as the Digital SADC 2027 which is the ICT Chapter of the SADC Regional Infrastructure Development Master Plan (RIDMP) 2012-2027. The objective of the SADC ICT Observatory is to become the central point of reference for reliable, accurate and up-to-date collection and dissemination of ICT indicators, measurement, benchmarking and reports. The SADC ICT Observatory will monitor and evaluate the implementation of the SADC ICT Programme, Sustainable Development Goals (SDGs), the Digital Divide and enhancing Industrialisation in SADC through ICT.    </div>
                </p>
              </div><!-- End Default Card -->

          </div>
  
          <div class="col-lg-4">
  
            <!-- Default Card -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Annual Data Collection Cycle</h5>
                The annual collection cycle begins from 1 July to 15 September every year during which SADC Member States submit their inputs on the list of indicators specified for that collection year. All Member States are required to submit data to the observatory in each collection cycle.     </div>
            </div><!-- End Default Card -->

          </div>

          <div class="col-lg-4">
  
            <!-- Default Card -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">SADC ICT Indicators</h5>
                A list of Core and Extended SADC ICT Indicators, covering several areas such as ICT Economic, Infrastructure and Connectivity, Access to Use of and Affordability of ICT, ICT Policy and Regulation, Education and Skills, E-Services and ICT in Business and Technology, Research and Innovation are collected annually. 
                The list of indicators to be collected in a collection cycle may be reviewed periodically during the SADC ICT Observatory Forums.
                   </div>
            </div><!-- End Default Card -->

          </div>
  
          
  
          </div>
  
        </div>
      </section>
    </div>
</div>


  
  


{% endblock content %}

{% block footer %}<footer class="bg-white sticky-footer">
    <div class="container my-auto">
      <div class="text-center my-auto copyright">
        <span>Copyright © SADC {% now "Y" %}</span>
      </div>
    </div>
  </footer>{% endblock footer %}










