{% extends 'base_portal.html' %} 
{% load django_tables2 %} 
{% load dataentrytags %}
{% load querystring from django_tables2 %}
{% load static %} 

{% block extra_style %}

<style>
  #wrapper {
    min-height: 550px;
  }
</style>

{% endblock extra_style %} 



{% block title %}Query Data {% endblock title %} 


{% block content %}

{{ form.media.css }}


<div class="d-flex flex-column" id="content-wrapper">
  

  <div id="content">
    <div class="container-fluid">
      
   
       

        <div class="card shadow">

          <div class="card-header py-3">
            <h4 class="text-end text-primary m-0 fw-bold">Query Data</h4>

            <div class="float-end text-end align-content-end">
            
            <p class="text-end text-dark m-0 fw-bold" style="border-color: var(--bs-green);"> 
              
              Export:   
              <a href="  {% querystring '_export'='csv' %}" class="btn btn-primary btn-esm me-1 ms-2   ">
                <i class="bi bi-filetype-csv"></i> CSV</a>
                
              <a href="{% querystring '_export'='xlsx' %}" class="btn btn-primary btn-esm me-1  ">
                <i class="bi bi-file-earmark-excel-fill "></i> Excel </a>
             
              </p>
            </div>
            
              
           
        </div>
          

      <div class="card-body">

        <form class="row g-3" method="GET" >

          
       
        
          
          <div class="col-sm-4">
            <label for="inputEmail3" class="col-sm-6 col-form-label">Indicator: </label>
             {{form.indicator_filter_field|addclass:'form-control'}}
          </div>

          <div class="col-sm-4">

            <label for="inputEmail3" class="col-sm-6 col-form-label">Member State: </label>
              {{form.memberstate_filter_field|addclass:'form-control'}}
          </div>

          <div class="col-sm-4">
            <label for="inputEmail3" class="col-sm-6 col-form-label">Year: </label>
            {{form.year_filter_field|addclass:'form-control'}}
          </div>

         
          <div  class="float-end text-end align-content-end">

            <div id="buttonDropdown" class="btn-group">
              <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Load Data
              </button>
              <div class="dropdown-menu">
                <input  class="  btn btn-primary btn-sm mb-2  d-sm-inline-block" role="button" type="submit" name="filter_usd" value="Data in USD" >
                <i class="fas fa-fa-undo fa-sm "></i></input>
  
                <input  class=" btn btn-primary btn-sm  d-sm-inline-block " role="button" type="submit" name="filter_lc" value="Data in Local Currency" >
              <i class="fas fa-fa-undo fa-sm "></i></input>
              </div>
            </div>

            <div id="buttonSingle" class="btn-group">
          <input   class="btn btn-primary btn-sm   d-sm-inline-block" role="button" type="submit" value="Load Data" >
            <i class="fas fa-fa-undo fa-sm text-white-50"></i></input>
            </div>
<!--
          <input  class="btn btn-primary btn-sm   d-sm-inline-block" role="button" type="submit" name="filter_lc" value="Load (data in Local Currency)" >
            <i class="fas fa-fa-undo fa-sm text-white-50"></i></input>

-->

          <a  class="btn btn-primary btn-sm  d-sm-inline-block " role="button"    href="{% url 'portal:generate-report' %}">
            <i class="fas fa-fa-undo fa-sm text-white-50"></i>&nbsp;Reset</a>
          
          
          </div>


          {% if table %}
         
          <div class="table-responsive">

           
           
          <div class="row g-3 ">
            
            {% if currency_data_type %}
            <span class="text-end text-wrap"><strong>*Note:</strong> {{currency_data_type}}</span>
            {% endif %}


            {% render_table table %}
          </div>
          
        </div>
          {% else %}
          <div class="row g-3 mt-2">
            Make a selection and click Load Data to retrieve data.
          </div>
        
          {% endif %}
          
      </form>


      

            

     

      
  </div>
      </div>
      </div>

    </div>
  </div>
  {% comment %} </div> {% endcomment %}

  <script>

    $(document).ready(function () {
      
      ChangeButtonText('id_indicator_filter_field')
      
      });  
  
    var currency_indicators = {{currency_indicators|safe}};
   
    function ChangeButtonText(id){

        var options = document.getElementById(id).selectedOptions;
        var selectedValues = Array.from(options).map(({ value }) => value);

       if (selectedValues.length===0){
            $("#buttonDropdown").hide();
            $("#buttonSingle").show();
          }

          var i;
          for (i = 0; i < selectedValues.length; i++) {
  
            if (currency_indicators.includes(parseInt(selectedValues[i])) || selectedValues.includes("all")) {
                
                $("#buttonDropdown").show();
                $("#buttonSingle").hide();
                break;
            }
            else {
              $("#buttonDropdown").hide();
                $("#buttonSingle").show();
            }
          }
                  
  }


  </script>

      
{% endblock content %}

{% block extra_js %}
{{ form.media.js }}
    
{% endblock extra_js %}