{% extends 'base_portal.html' %} 
{% load dataentrytags %}

{% load static %} 

{% block title %}Home {% endblock title %} 

{% block extra_js_top %}

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/variable-pie.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

{% endblock extra_js_top %}

   


{% block content %}





  <div id="content">
    <div class="container-fluid">
      <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Dashboard</h3>

        
      
            <div class="col-sm-9 text-end" >
        <a  class="btn btn-primary btn-sm  d-sm-inline-block" role="button"   href="{% url 'portal:generate-report' %}">
            <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Query Data</a>

            <a  class="btn btn-primary btn-sm  d-sm-inline-block" role="button"   href="{% url 'portal:socio-economic-charts' %}">
                <i class="fas fa-chart-bar fa-sm text-white-50"></i>&nbsp;Socio-Economic Charts</a>
        </div>

       


      </div>

    <div class="row d-block  ">
       
      <form class="row g-3 mb-3" method="GET" >
            <div class="d-inline-flex mt-2  ">

                <div class="">
                    <label for="inputEmail3" class="pt-2 me-3">Year: </label>
                </div>
                <div class="col-sm-2" >
                    {{form.year_filter|addclass:'form-select'}}
                </div>
               
                <input  class="btn btn-primary btn-sm   d-sm-inline-block ms-3" role="button" type="submit" value="Show" >
            <i class="fas fa-fa-undo fa-sm text-white-50"></i></input>
              
            </div>

        </form>
   
    </div>


      <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-1">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Average SADC MOBILE PENETRATION&nbsp; &nbsp;&nbsp;</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>
                                {% if score_cards.sadc_mobile_penetration == "-" or score_cards.sadc_mobile_penetration == 0  %} - 
                                {% else %}
                                {{score_cards.sadc_mobile_penetration|floatformat}}%
                                {% endif %}
                                </span></div>
                        </div>
                        {% comment %} <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-success py-2" >
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-1">
                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Average SADC INTERNET PENETRATION</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>
                                {% if score_cards.avg_internet_penetration == "-" or score_cards.avg_internet_penetration == 0 %} - 
                                {% else %}
                                {{score_cards.avg_internet_penetration|floatformat}}%
                                {% endif %}
                                </span></div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-info ">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-1">
                            <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>AVG SADC MOBILE NETWORK Geographical COVERAGE</span></div>
                            <div class="row g-0 align-items-center">
                                <div class="col-auto">
                                    <div class="text-dark fw-bold h5 mb-0 me-3"><span>
                                        {% if score_cards.sadc_network_coverage == "-" or  score_cards.sadc_network_coverage == 0 %} - 
                                        {% else %}
                                        {{score_cards.sadc_network_coverage|floatformat}}%
                                        {% endif %}
                                        </span></div>
                                </div>
                                {% comment %} <div class="col">
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-info" aria-valuenow="{{score_cards.sadc_network_coverage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{score_cards.sadc_network_coverage}}%;"><span class="visually-hidden">50%</span></div>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        {% comment %} <div class="col-auto"><i class="fas fa-wifi fa-2x text-gray-300"></i></div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-warning ">
                <div class="card-body" >
                    <div class="row align-items-center no-gutters">
                        <div class="col me-1">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>AVG SADC % Population Coverage by at least 3G</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>
                                {% if score_cards.avg_pop_coverage_3g == "-" %} - 
                                {% else %}
                                {{score_cards.avg_pop_coverage_3g|floatformat}}%
                                {% endif %}
                                </span></div>
                        </div>
                        {% comment %} <div class="col-auto"><i class="fas fa-wifi fa-2x text-gray-300"></i></div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    <!--Start: Iterate Charts-->  
    
    {% for chart in charts  %}
       
    <div class="col-lg-4 col-xl-6">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary fw-bold m-0">{{chart|slice:"1:2"|first}}   ({{chart|slice:"2:3"|first}})</h6>
                <div class="dropdown no-arrow">
                  
                    <!--Chart Description-->
                    {% if chart|slice:"3:4"|first  %}
                    <button class="btn btn-circle bg-hover-info" data-toggle="popover" 
                    title="{{chart|slice:"1:2"|first}}" 
                    data-bs-content="{{chart|slice:"3:4"|first}}">
                        <span  style="color: blue;" class=" bi bi-info-circle small "></span>
                    </button>
                    {% endif %}
                <!--end-->



                    <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-bars text-bold "></i></button>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                        <p class="dropdown-header fw-bold">Options:</p>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'viewinfullscreen')" value="viewinfullscreen">View in fullscreen</button>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'png')" value="image/png">Download PNG</button>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'jpeg')" value="image/jpeg">Download JPEG</button>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'pdf')" value="application/pdf">Download PDF</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'csv')" value="application/pdf">Download CSV</button>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'xls')" value="application/pdf">Download XLS</button>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'dt')" value="application/pdf">View Data Table</button>
                    </div>
                </div>
            </div>
            <div class="card-body" >
                    {{chart|first|safe}}
           
            </div>
        </div>
    </div>
    {% endfor %}

<!--End: Iterate Charts--> 

<div class="alert alert-success  fade show" role="alert">
    <h4 class="alert-heading">Socio-Economic Charts</h4>
    <p>For socio-economic charts including Population, Population Percentages by Male and Female, GDP per Capita, GNI per Capita and Exchange Rate values, follow the link below.</p><hr>
    <p class="mb-0"><a href=" {% url 'portal:socio-economic-charts' %} "> Socio-Economic Charts.</a></p> 
 

</div>

    

    </div>
      
    </div>
  </div>
  
  
  <script>
    $(function () {
        $('[data-toggle="popover"]').popover()
      }); 

     
    </script>

{% endblock content %}

{% block footer %}<footer class="bg-white sticky-footer">
    <div class="container my-auto">
      <div class="text-center my-auto copyright">
        <span>Copyright © SADC {% now "Y" %}</span>
      </div>
    </div>
  </footer>{% endblock footer %}

{% block extra_js %}
    <script>
        function exportChart(container, option) {
            var chart = $(container).highcharts();

            switch(option) {
                case "print":
                    chart.print();
                    break;
                case "viewinfullscreen":
                    chart.fullscreen.toggle()
                    break;
                case "png":
                    
                    chart.exportChart();
                    break;
                case "jpeg":
                    chart.exportChart({type: 'image/jpeg'});
                    break;
                case "pdf":
                    chart.exportChart({
                        type: 'application/pdf'
                    });
                    break;
                case "csv":
                    chart.downloadCSV();
                    break;
                case "xls":
                    chart.downloadXLS();
                    break;
                case "dt":
                    chart.toggleDataTable()
                    break;
            }
        };  


    {% comment %} document.querySelector(".dropdown-item").addEventListener('click', (event) => {
        alert("here")
        let value = event.target.value;
        alert(value)
    }); {% endcomment %}


    </script>

{% endblock extra_js %}








