{% extends 'base_portal.html' %} 
{% load dataentrytags %}

{% load static %} 

{% block title %}Socio-Economic Charts {% endblock title %} 


{% block content %}





  <div id="content">
    <div class="container-fluid">
      <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Socio-Economic Charts</h3>

        
      
            <div class="col-sm-3 text-end" >
                <a  class="btn btn-primary btn-sm  d-sm-inline-block" role="button"   href="{% url 'portal:generate-report' %}">
                    <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Query Data</a>
                </div>

       
      </div>

    <div class="row d-block ">
     
      <form class="row g-3 mb-3" method="GET" >
            <div class="d-inline-flex mt-2">

                <div class="">
                    <label for="inputEmail3" class="pt-2 me-3">Year: </label>
                </div>
                <div class="col-sm-2" >
                    {{form.year_filter|addclass:'form-select'}}
                </div>

                <input  class="btn btn-primary btn-sm   d-sm-inline-block ms-3" role="button" type="submit" value="Show" >
            <i class="fas fa-fa-undo fa-sm text-white-50"></i></input>
            </div>

        </form>
    </div>


      
    <div class="row">

    <!--Start: Iterate Charts-->  
    
    {% for chart in charts  %}
       
    <div class="col-lg-4 col-xl-6">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary fw-bold m-0">{{chart|slice:"1:2"|first}}   ({{chart|slice:"2:3"|first}})</h6>
                <div class="dropdown no-arrow">
                    <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-bar text-bold"></i></button>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                        <p class="dropdown-header fw-bold">Options:</p>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'viewinfullscreen')" value="viewinfullscreen">View in fullscreen</button>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'png')" value="image/png">Download PNG</button>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'jpeg')" value="image/jpeg">Download JPEG</button>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'pdf')" value="application/pdf">Download PDF</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'csv')" value="application/pdf">Download CSV</button>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'xls')" value="application/pdf">Download XLS</button>
                            <button class="dropdown-item" onclick="return exportChart({{chart|last}},'dt')" value="application/pdf">View Data Table</button>
                    </div>
                </div>
            </div>
            <div class="card-body" >
                    {{chart|first|safe}}
            </div>
        </div>
    </div>
    {% endfor %}

<!--End: Iterate Charts--> 



    

    </div>
      
    </div>
  </div>
  
  


{% endblock content %}

{% block footer %}<footer class="bg-white sticky-footer">
    <div class="container my-auto">
      <div class="text-center my-auto copyright">
        <span>Copyright © SADC {% now "Y" %}</span>
      </div>
    </div>
  </footer>{% endblock footer %}

{% block extra_js %}
    <script>
        function exportChart(container, option) {
            var chart = $(container).highcharts();

            switch(option) {
                case "print":
                    chart.print();
                    break;
                case "viewinfullscreen":
                chart.fullscreen.toggle()
                break;
                case "png":
                    
                    chart.exportChart();
                    break;
                case "jpeg":
                    chart.exportChart({type: 'image/jpeg'});
                    break;
                case "pdf":
                    chart.exportChart({
                        type: 'application/pdf'
                    });
                    break;
                case "csv":
                    chart.downloadCSV();
                    break;
                case "xls":
                    chart.downloadXLS();
                    break;
                case "dt":
                    chart.toggleDataTable()
                    break;
            }
        };  


    {% comment %} document.querySelector(".dropdown-item").addEventListener('click', (event) => {
        alert("here")
        let value = event.target.value;
        alert(value)
    }); {% endcomment %}


    </script>

{% endblock extra_js %}








