body {
    color: var(--bs-dark) !important;

}



.form-control {
    color: var(--bs-dark) !important;
}

.form-select {
    color: var(--bs-dark) !important;
}

.table {
    color: var(--bs-dark) !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff2f5;
    border-radius: 0.625rem;
    box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
}

.card.card-flush>.card-header {
    border-bottom: 0;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 70px;
    /* padding: 0 2.25rem; */
    background-color: transparent;
    border-bottom: 1px solid #eff2f5;
}

.card-header:first-child {
    border-radius: calc(0.625rem - 1px) calc(0.625rem - 1px) 0 0;
}

/* .card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eff2f5;
} */


.card .card-header .card-title.flex-column {
    align-items: flex-start;
    justify-content: center;
}

.card .card-header .card-title,
.card .card-header .card-title .card-label {
    font-weight: 400;
    font-size: 1.175rem;
    color: #181c32;
}

.card .card-header .card-title {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-left: 0;
}

/* .card-title {
    margin-bottom: 0.5rem;
} */

/* .bgi-size-contain {
    background-size: contain;
}

.bgi-position-x-center {
    background-position-x: center;
}

.bgi-no-repeat {
    background-repeat: no-repeat;
} */



.mb-5 {
    margin-bottom: 1.25rem !important;
}



.pt-5 {
    padding-top: 1.25rem !important;
}





/* .flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
} */




@media (min-width: 1200px) {
    .fs-2x {
        font-size: 1.5rem !important;
    }
}

.ls-n2 {
    letter-spacing: -0.0115rem !important;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

/* .lh-1 {
    line-height: 1 !important;
} */

/* .fw-bolder {
    font-weight: 600 !important;
} */



/* .me-1 {
    margin-right: 0.25rem !important;
} */


/* .opacity-50 {
    opacity: 0.5 !important;
} */

.opacity-90 {
    opacity: 0.9 !important;
}



/* .fw-bold {
    font-weight: 500 !important;
} */

.fs-6 {
    font-size: 0.9075rem !important;
}

/* .pt-1 {
    padding-top: 0.25rem !important;
} */






/* .bg-70 {
    background-color: #ffc700 !important;
    --bg-color: 255, 199, 0 !important;
}

.bg-50 {
    background-color: #f1416c !important;
    --bg-color: 241, 65, 108 !important;
}

.bg-100 {
    background-color: #50cd89 !important;
    --bg-color: 80, 205, 137 !important; */

/* .bg-warning {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
} */



/* .bg-success {
    background-color: #50cd89 !important;
    --bg-color: 80, 205, 137 !important;
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
} */

/* .bg-danger {
    background-color: #f1416c !important;
    --bg-color: 241, 65, 108 !important;
}

.bg-danger {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
} */


/* .rounded {
    border-radius: 0.475rem !important;
} */



.h-8px {
    height: 8px !important;
}


@media (min-width: 1200px) {
    .mb-xl-10 {
        margin-bottom: 2.1rem !important;
    }
}

@media (min-width: 768px) {
    .h-md-50 {
        height: 45% !important;
    }
}

@media (min-width: 768px) {
    .h-md-80 {
        height: 100% !important;
    }
}

.g-5,
.gy-5 {
    --bs-gutter-y: 2rem;
}


.bg-sadc {
    background-color: #2C318A;


}

.progress {
    --bs-progress-bg: #fff;
}

.card-body .small {
    font-size: 0.75rem;
}

.card-link {
    /* display: block; */
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    /* color: var(--bs-nav-link-color); */
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.card.disabled {
    /* display: block; */

    background-color: #babab7;
}

/* .card-link .card a:hover {

    color: aqua !important;
} */

.card-link .card:hover {
    transform: scale(1.05);
    background-color: rgb(2, 176, 82, 0.9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

a.disabled {
    pointer-events: none;
    cursor: default;
}


/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
    position: absolute;
    right: 0px;
    top: 15px;
}

.dashboard .filter .icon {
    color: #aab7cf;
    padding-right: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
    color: #4154f1;
}

.dashboard .filter .dropdown-header {
    padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aab7cf;
    margin-bottom: 0;
    padding: 0;
}

.dashboard .filter .dropdown-item {
    padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
    padding-bottom: 10px;
}

.dashboard .info-card h6 {
    font-size: 35px;
    color: #f6f6fe;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.dashboard .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.dashboard .sales-card {
    background-color: #0088cc;
}

.dashboard .sales-card .card-title {
    color: #fff;
}

.dashboard .sales-card .card-icon {
    color: #4154f1;
    background: #f6f6fe;
}



/* Activity */
/* .dashboard .activity {
    font-size: 14px;
} */

.dashboard .activity .activity-item .activite-label {
    color: #888;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 64px;
}

.dashboard .activity .activity-item .activite-label::before {
    content: "";
    position: absolute;
    right: -11px;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #eceefe;
}

.dashboard .activity .activity-item .activity-badge {
    margin-top: 3px;
    z-index: 1;
    font-size: 11px;
    line-height: 0;
    border-radius: 50%;
    flex-shrink: 0;
    border: 3px solid #fff;
    flex-grow: 0;
}

.dashboard .activity .activity-item .activity-content {
    padding-left: 10px;
    padding-bottom: 20px;
}

.dashboard .activity .activity-item:first-child .activite-label::before {
    top: 5px;
}

.dashboard .activity .activity-item:last-child .activity-content {
    padding-bottom: 0;
}

/* Bordered Tabs */
.nav-tabs-bordered {
    border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
    margin-bottom: -2px;
    border: none;
    color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
    color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
    background-color: #fff;
    color: #4154f1;
    border-bottom: 2px solid #4154f1;
}

.profile .card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

.profile .profile-overview .card-title {
    color: #012970;
}

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
    max-width: 120px;
}

.profile .profile-card h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2c384e;
    margin: 10px 0 0 0;
}

.profile .profile-card h3 {
    font-size: 18px;
}

.profile .profile-card .social-links a {
    font-size: 20px;
    display: inline-block;
    color: rgba(1, 41, 112, 0.5);
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.profile .profile-card .social-links a:hover {
    color: #012970;
}

.profile .profile-overview .row {
    margin-bottom: 20px;
    font-size: 15px;
}

.profile .profile-overview .card-title {
    color: #012970;
}

.profile .profile-overview .label {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
    max-width: 120px;
}

.info-box {
    padding: 28px 30px;
}

.info-box i {
    font-size: 35px;
    line-height: 0;
    color: #4154f1;
}

.info-box h3 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}


.header-nav .nav-icon {
    font-size: 22px;
    color: #012970;
    margin-right: 25px;
    position: relative;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #09125b;
}

.register {
    background-color: #f0f4fc;
}

.hidden {
    display: none !important;
}

.sidebar .nav-heading {
    font-size: 13px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 3px 0 3px 15px;
    border-bottom: #0088cc 1px solid;
    width: 80%;
}

/* .validation-status {

    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.8em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.35rem;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1.5;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
} */

.validation-status-4 {

    --bs-bg-opacity: 1;
    --bs-badge-font-size: 0.8em;
    line-height: 1.5;

    padding-right: 5.65em;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;

}

.validation-status-3 {

    --bs-bg-opacity: 1;
    --bs-badge-font-size: 0.8em;
    line-height: 1.5;
    background-color: #C9404D !important;


}

.validation-status-2 {

    --bs-bg-opacity: 1;
    --bs-badge-font-size: 0.8em;
    line-height: 1.5;
    background-color: #000 !important;

}

.validation-status-1 {

    --bs-bg-opacity: 1;
    --bs-badge-font-size: 0.8em;
    line-height: 1.5;
    background-color: #000 !important;

}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    /* font-size: 1.1em; */

    color: #000 !important;
}

ul.errorlist {


    width: 100%;


    color: #dc3545;

}

.dataTables_empty {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;

}


.alert-dismissible {
    padding-right: 3rem;

}

.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}

/* .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

.sidebar-nav .nav-link:hover i {
    color: #4154f1;
}

.sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
}

.sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: #4154f1;
}

.ms-auto {
    margin-left: auto !important;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.bi-chevron-down::before {
    content: "\f282";
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #4154f1;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
}

.btn-toggle {
    .nav-link[aria-expanded="true"] {
        color: rgba(0, 0, 0, .85);
    }
}



.nav-link {
    color: rgba(0, 0, 0, .85);
}

.sidebar-dark .nav-item .nav-link [aria-expanded="true"] {
    color: rgba(0, 255, 255, .8);
}

.collapse.show {
    color: rgba(0, 0, 0, .85);
}

.nav-link[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}*/