{% extends 'base_auth.html' %}
{% load dataentrytags %}
{% load showprogress %}

{% load static %}

{% block title %}Data Entry{% endblock title %}

{% block content %}

{% include 'partials/_sidebar.html' %}



<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">

     {% include 'partials/_auth_navbar.html' %}

      {% check_within_reporting_period as rep_period %} 
        <div class="container-fluid">

          <!--begin::Page Title-->
          <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h4 class="text-dark mb-0  fw-boldest">{{user.getUserMemberState}} - Data Entry Progress Dashboard </h4>
            {% if rep_period   %}
            <p class="text-end text-primary m-0 fw-bold" style="border-color: var(--bs-green);">Year: <span style="color: rgb(78, 223, 84);">{% reporting_year %}</span></p>
            {% endif %}
            
          </div>
          <!--end::Page Title-->

          {% getRevisionRequest_any  'M' user.getUserMemberState as revision_request_any %}

        
         
 
 {% if not rep_period and revision_request_any == 0  %}
 
 <div class=" col-md-12 alert-warning bg-warning border-1 rounded-3 p-3 mb-3 fw-bold"  > 
  
  Data entry is enabled only during Reporting Periods. 
    Please revisit the page at a later date. 
 
</div>
 {% endif %}
{% if revision_request_any > 0 %}

<div class="col-md-12 alert-warning bg-warning border-1 rounded-3 p-3 mb-3 fw-bold">
     
   You can edit and submit indicators that you are requested to revise. 
 
 </div>

{% endif %}

    
  


{% include 'partials/_messages.html' %}
          
<div class="row g-5 g-xl-10 mb-xl-10">

  <!--Begin Exchange Data Column-->
  <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3 ">
      <a href="{% url 'portaldata:exchange-rate'  %}" class="card-link {% if not rep_period %} disabled {% endif %}">

    <div class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-center h-md-80 mb-5 mb-xl-10 bg-sadc opacity-90  {% if not rep_period  %} disabled {% endif %} ">
    <!--begin::Header-->

   <!--  {% getExchangeDataUnsubmitted user.getUserMemberState as check_submitted %}  
     ######Commented out: Exchange data notification badge  ########
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{check_submitted}}
        <span class="visually-hidden">For revision</span>
    </span> 
    ################################################################-->

        <div class="card-header pt-5">
            <!--begin::Title-->
            <div class="card-title d-flex flex-column">

                <!--begin::Main_Title-->
                <span class="fs-2hx fw-bolder text-white me-1 lh-1 ls-n2">Exchange Rate</span>
                <!--end::Main_Title-->

                <!--begin::Subtitle-->
                {% isExchangeDataCompleted user.getUserMemberState as ExchangeDataCompleted%}
                <span class="text-white opacity-50 pt-1 fw-bold fs-6">{{ExchangeDataCompleted}} of 1 completed</span>
                    <!--end::Subtitle-->
            </div>
            <!--end::Title-->
        </div>
        <!--end::Header-->
        <!--begin::Card body-->
        <div class="card-body d-flex align-items-end pt-0">
            <!--begin::Progress-->
            <div class="d-flex align-items-center flex-column mt-3 w-100">
                <div class="d-flex justify-content-between fw-bolder small text-white opacity-50 w-100 mt-auto mb-1">
                    <span>Progress</span>
                    {% widthratio ExchangeDataCompleted 1 100 as wd %}
                    <span>{{wd}}%</span>
                </div>

                {% if  ExchangeDataCompleted == 1   %}

                  <div class="progress h-8px mx-3 w-100 bg-light-primary rounded">
                    <div class="bg-success rounded h-8px" role="progressbar" style="width: {{ wd }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                {% else %}

                  <div class="progress h-8px mx-3 w-100 bg-light-primary rounded">
                    <div class="bg-danger rounded h-8px" role="progressbar" style="width: {{ wd }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                {% endif %}
                                 
                

        </div>
        <!--end::Progress-->
</div>
<!--end::Card body-->
</div>
<!--end::Card widget 7-->

</a>
          
  </div>
  <!--End Exchange Data Column-->

            {% if focusareas %}
                
              {% for focusarea in focusareas  %}

              {% getRevisionRequest focusarea  'M' user.getUserMemberState as revision_request %}

                  {% if focusarea.count_indicators > 0 %}

                

                <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3 ">
                    {% comment %} <a href="{% url 'data:entry' focusarea.abbreviation %}" class="card-link"> {% endcomment %}
                    {% comment %} <a href="{% url 'data:DataEntryFormView' focusarea.abbreviation %}" class="card-link"> {% endcomment %}
                    <a href="{% url 'portaldata:manage_indicatordata' id=focusarea.id %}" class="card-link {% if not rep_period and revision_request == 0   %} disabled {% endif %}">
                    {% comment %} <a href="{% url 'data:manage_books' %}" class="card-link"> {% endcomment %}
                    {% comment %} <a href="{% url 'data:indicatorDataFormSet' %}" class="card-link"> {% endcomment %}
                    {% comment %} <a href="{% url 'data:single-form' focusarea.id %}" class="card-link"> {% endcomment %}
                    {% comment %} <a href="{% url 'data:dataentryform' id=focusarea.id %}" class="card-link"> {% endcomment %}
                    {% comment %} <a href="{% url 'data:indicatordataview' %}" class="card-link"> {% endcomment %}
                    {% comment %} <a href="{% url 'data:dataupdateform' pk=62 %}" class="card-link"> {% endcomment %}

                            <!--begin::Card widget 7-->
                      <div class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-center  h-md-80 mb-5 mb-xl-10 bg-sadc opacity-90 {% if not rep_period and revision_request == 0   %} disabled {% endif %} " >
                        <!--begin::Header-->
                       

                       
                        {% comment %} {% getSubmitted focusarea 'M' user.getUserMemberState as check_submitted %}
                        {{ check_submitted }} {% endcomment %}

                        {% if revision_request %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                         {{revision_request}}
                          <span class="visually-hidden">For revision</span>
                        </span>
                        {% endif %}
                        
                        <div class="card-header pt-5">
                          {% comment %} <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">4</span> {% endcomment %}
                        
                        
                           <!--begin::Title-->
                          <div class="card-title d-flex flex-column">
                           
                            <!--begin::Main_Title-->
                            <span class="fs-2hx fw-bolder text-white me-1 lh-1 ls-n2">{{ focusarea.title }}</span>
                            <!--end::Main_Title-->
                            <!--begin::Subtitle-->
                              {% getActiveRequiredindicatorsbyassignedto focusarea 'M' as RequiredIndicators  %}
                              {% getCompletedActiveRequiredindicatorsbyassignedto focusarea 'M' user.getUserMemberState as CompletedIndicators %}
                              {% comment %} {% calculateprogress focusarea 'M' user.getUserMemberState %} {% endcomment %}
                              {% calculateprogress focusarea 'M' user.getUserMemberState as calculatepg %}
                            <span class="text-white opacity-50 pt-1 fw-bold fs-6">{{CompletedIndicators}} 
                              of {{RequiredIndicators}}
                              completed
                            {% comment %} <span class="text-white opacity-50 pt-1 fw-bold fs-6">{{focusarea.count_completed_required_indicators}} of {{ focusarea.count_active_required_indicators }}
                              completed {% endcomment %}

                              
                             
                              {% comment %} {{CompletedIndicators}}
                              {{RequiredIndicators}}
                              {{calculatepg}} {% endcomment %}

                             

                              
                              
                            </span>
                            <!--end::Subtitle-->
                          </div>
                          <!--end::Title-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Card body-->
                        <div class="card-body d-flex align-items-end pt-0">
                          <!--begin::Progress-->
                          <div class="d-flex align-items-center flex-column mt-3 w-100">
                            <div class="d-flex justify-content-between fw-bolder small text-white opacity-50 w-100 mt-auto mb-1">
                              <span>Progress</span>
{% comment %}                               
                              {% widthratio focusarea.count_completed_required_indicators focusarea.count_active_required_indicators 100 as wd %}
                              <span>{{wd}}%</span> {% endcomment %}

                              {% widthratio CompletedIndicators RequiredIndicators 100 as wd %}
                              <span>{{wd}}%</span>
                              


                            </div>
                            {% comment %} {{focusarea.calculate_progress}} {% endcomment %}

                           
                        
                           
                                {% if  calculatepg  <= 60 and calculatepg  > 0 %}
                                  <div class="progress h-8px mx-3 w-100 bg-light-primary rounded">
                                    <div class="bg-danger rounded h-8px" role="progressbar" style="width: {{ wd }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                {% elif  calculatepg  > 60  and calculatepg  < 100  %}
                                  <div class="progress h-8px mx-3 w-100 bg-light-primary rounded">
                                    <div class="bg-warning rounded h-8px" role="progressbar" style="width: {{ wd }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                {% elif calculatepg == 100 %}
                                  <div class="progress h-8px mx-3 w-100 bg-light-primary rounded">
                                    <div class="bg-success rounded h-8px" role="progressbar" style="width: {{ wd }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>

                                  {% else  %}
                                  <div class="progress h-8px mx-3 w-100 bg-light-primary rounded">
                                    <div class="bg rounded h-8px" role="progressbar" style="width: {{ wd }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                
                                
                              {% endif %} 
                         
 
                            

                            
                          </div>
                          <!--end::Progress-->
                        </div>
                        <!--end::Card body-->
                      </div>
                      <!--end::Card widget 7-->

                    </a>

                  </div>
                  
                  
                  <!--end::emptyfocusarea-->
                  {% endif  %}


                  <!--end::Focus Area Cards-->
                  {% endfor  %}

            

                </div>
                <!--End Cards Row-->
      
                <!--Begin: Overall-->

               <hr>
        <div class="row g-5 g-xl-10 mb-xl-10">
          
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3 ">
              
  
                      <!--begin::Card widget 7-->
                <div class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-center h-md-80 mb-5 mb-xl-10 bg-sadc opacity-90 {% if not rep_period and revision_request_any == 0   %} disabled {% endif %} " >
                  <!--begin::Header-->
                  <div class="card-header pt-5">
                    <!--begin::Title-->
                    <div class="card-title d-flex flex-column">
                      <!--begin::Main_Title-->
                      <span class="fs-2hx fw-bolder text-white me-1 lh-1 ls-n2">Overall</span>
                      <!--end::Main_Title-->
                      <!--begin::Subtitle-->
                              {% countallcompletedindicators 'M' user.getUserMemberState as OveallCompletedIndicators %}
                              {% countalloptionalcompletedindicators 'M' user.getUserMemberState as OveallOptionalCompletedIndicators %}
                              {% countallactiveindicators 'M' as OverallRequiredIndicators  %}
                              {% comment %} {% calculateprogress focusarea 'M' user.getUserMemberState %} {% endcomment %}
                              {% calculateoverallprogress 'M' user.getUserMemberState as Overallcalculatepg %}
                      <span class="text-white opacity-50 pt-1 fw-bold fs-6">Required: {{OveallCompletedIndicators}} of {{OverallRequiredIndicators}}
                         completed </span>
                         <span class="text-white opacity-50 pt-1 fw-bold fs-6">Optional: {{OveallOptionalCompletedIndicators}}
                          completed</span>

                              
                              

                              
                              
                              
                        
                       
                      <!--end::Subtitle-->
                    </div>
                    <!--end::Title-->
                  </div>
                  <!--end::Header-->
                  <!--begin::Card body-->
                  <div class="card-body d-flex align-items-end pt-0">
                    <!--begin::Progress-->
                    <div class="d-flex align-items-center flex-column mt-3 w-100">
                      <div class="d-flex justify-content-between fw-bolder small text-white opacity-50 w-100 mt-auto mb-1">
                        <span>Progress</span>
                        {% widthratio OveallCompletedIndicators OverallRequiredIndicators 100 as wd %}
                              <span>{{wd}}%</span>
                              
                      </div>

                          {% if  Overallcalculatepg  <= 60 and Overallcalculatepg  > 0 %}

                          <div class="progress h-8px mx-3 w-100 bg-light-primary rounded">
                            <div class="bg-danger rounded h-8px" role="progressbar" style="width: {{ wd }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        {% elif  Overallcalculatepg > 60  and Overallcalculatepg  < 100  %}
                          <div class="progress h-8px mx-3 w-100 bg-light-primary rounded">
                            <div class="bg-warning rounded h-8px" role="progressbar" style="width: {{ wd }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        {% elif Overallcalculatepg == 100 %}
                          <div class="progress h-8px mx-3 w-100 bg-light-primary rounded">
                            <div class="bg-success rounded h-8px" role="progressbar" style="width: {{ wd }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>

                          {% else  %}
                          <div class="progress h-8px mx-3 w-100 bg-light-primary rounded">
                            <div class="bg rounded h-8px" role="progressbar" style="width: {{ wd }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        
                        
                      {% endif %}
                              

                    
                    </div>
                    <!--end::Progress-->
                  </div>
                  <!--end::Card body-->
                </div>
                <!--end::Card widget 7-->
  
             
  
            </div>

          </div>
          

        </div>
        
  

    
   <div class="container-fluid">
    <div class="row mb-3 ">
      {% comment %} <form action="{% url 'portaldata:submitIndicatorData' %}" method="post"> {% endcomment %}
      <form  method="post">

        {% csrf_token %}

      </form>

      <!--begin::Col-->
      <div class="col-md-12 pe-lg-10">
        <!--begin::Form-->
      
        {% getOverallToSubmit 'M' user.getUserMemberState as get_number_to_submit %}
       
      
       
        <button type="submit" class="btn btn-primary btn-lg  btn-block" id="kt_contact_submit_button"  
         {% if Overallcalculatepg != 100 or get_number_to_submit == 0 or user.getSysUser.role != 'FP' %}
         disabled{% endif %}
         onclick="Submit()"

         
         > 
        
        
        
          <span class="indicator-label p-5">Submit</span>

          {% if get_number_to_submit > 0 and Overallcalculatepg == 100  %}
            <span class=" badge rounded-pill bg-danger">
              {{get_number_to_submit}}
              
            </span>
          {% endif %}
         
        </button>

        
        
       
      </div>
      
   
    <br>

    

  
    <div class="block ">
      {% if user.getSysUser.role != 'FP'  %}
        <p class=" mt-3 ">Only <strong>Focal Point Persons</strong> can submit data.</p>
    {% endif %}
        {% if Overallcalculatepg != 100  %}

        {% if rep_period %}
        <p class=" mt-3 ">You can submit when data is completed for all required indicators. <br>
          Currently, <strong> {{OveallCompletedIndicators}} of {{OverallRequiredIndicators}} </strong>completed.
        </p>
        {% endif %}

  

        {% elif get_number_to_submit == 0 %}

      <br>
        <div class="col-md-12 badge bg-success">
          <div class="  border-0"  > 
           
           <h6 class="fw-bold align-center ps-2 pt-2 text-start" >You have submitted all data to SADC secretariat. </h6>
         </div>
         </div>
       
        



      
          
        
      
        
        {% endif %}

      
      </div>
    </div>
  </div>

  {% else %}

              <div class="col-md-12">
                <p>No Focus Areas Available</p>
              </div>
                
            {% endif %}
    
    {% comment %} <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © SADC 2022</span></div>
        </div>
    </footer> {% endcomment %}

  
   
</div>

<div class="modal fade" id="submitmodal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-start">
      <div class="modal-header">
        <h5 class="modal-title card-title" id="submitModalLabel">You are about to Submit your data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body justify-content-end text-justify ">
        
        <form action="{% url 'portaldata:submitIndicatorData' %}" method="post">
       
          {% csrf_token %}
          <div class="col-md-12">

            <div class="card ">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <strong> You are about to Submit your data to SADC secretariat.</strong>
                <br><br>
                <strong>
                  Please note that once you submit your data, you cannot make any changes.

                </strong>
                <br><br>
               <em> If you want to make any changes after submission, you will need to contact SADC Secretariat to request data to be unsubmitted.</em>
              </div>
            </div>
            
           </div>
     
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="submitbutton" >Submit</button>
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
        
      </div>
    </form>
    </div>
  </div>
</div> 

<script>

  function Submit() {

    $('#submitmodal').modal('show');
  };
    

  
      
  
   </script>





{% endblock content %}