{% extends 'base_auth.html' %}
{% load dataentrytags %}
{% load static %}

{% block title %}Data Entry{% endblock title %}

{% block content %}

{% include 'partials/_sidebar.html' %}

<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">

     {% include 'partials/_auth_navbar.html' %}


     <div class="container-fluid">
      <h5 class="text-dark mb-4 fw-bold">  {{ focusarea_title }} Indicators</h5>
      <div class="card shadow">
          <div class="card-header py-3">
              <p class="text-end text-primary m-0 fw-bold">Member State: <span style="color: rgb(78, 223, 92);">{{user.getUserMemberState}}</span></p>
              <p class="text-end text-primary m-0 fw-bold" style="border-color: var(--bs-green);">Year: <span style="color: rgb(78, 223, 84);">{% reporting_year %}</span></p>
          </div>
          <div class="card-body">
            <form method="post">
            
              {% include 'partials/_messages.html'%} 
              {% csrf_token %}

            
              <table class="table table-responsive table-hover">
                <thead class="table-light  borderit">
                  <th>S/N</th>
                  <th>Indicator</th>
                  <th>Data</th>
                  <th>Comments</th>
                  <th>Data N/A?</th>
                  <th>Definition</th>
                </thead>
                <tbody>
             

              {% if exisiting_indicator_data %}
             

                {{ formset.management_form }}

                {{formset.non_form_errors}}

                

                {% for form in formset %}

                {{ form.id }}

                {{ form.errors }}

             
                <span class="d-none">
                   <!--Hidden field but populating all required fields-->
                  {{form.reporting_year}}{{form.member_state}}{{form.created_by}}{{form.submitted}}{{form.validation_status}}</span>

                 <tr>
                  
                     
                  <td tooltip="Required"> 

                     <!--Reuqired notifier (and also revision request)-->
                   
                    {{form.instance.indicator.indicator_number}}
                    {% if form.instance.indicator.required %}
                    
                    <span data-toggle="tooltip" title="Required indicator!" style="color: blue;"  
                    class=" bi-info-circle  small ">

                    </span>{% endif %}

                    {% if form.instance.is_returned_for_revision %}
                                            <span data-toggle="tooltip" title="Returned for revision!" style="color: red;"  
                                            class="bi-exclamation-circle-fill ms-1  "> </span>

                                            {% endif %}
                  </td>
                    <td >
                      <!--Indicator Name-->
                      <span class="d-none">
                      {{form.indicator}}
                      </span>
                     
                      {{form.instance}}
                    </td>

                    <td>
                       <!--Indicator input decorator (e.g. $, %)-->
                      <div class="input-group has-validation">
                        
                        <span class="input-group-text"> {% getInputDecorator form.instance.indicator %}</span>
                        {{ form.ind_value }}
                      
                        <div class="invalid-tooltip"> 
                          {{ form.errors }}
                        </div>
                      </div>
                    </td>


                    <td>
                      {{form.comments|addclass:'form-control'}}
                     
                    </td>

                    <td class="text-center">
                      {{form.value_NA|addclass:'form-check-input'}}
                    </td>

                   
                   
                    <td class="text-center">
                      
                      <a data-toggle="modal" data-id=' {{form.instance.indicator.label}} <br> {{form.instance.indicator.definition}}'
                        title="Show Definition" class="open-Definition btn btn-primary btn-esm" href="#openDefinition">
                       
                        <i class="bi-eye-fill"></i>
                        
                      </a>
                     
                          
                    
                    </td>



                   
                    
                  </tr>
                  {% endfor %} 

                </tbody> 

  {% comment %} ##################If New Indicator Data ################################################# {% endcomment %}

              {% else %}
                    {{ formset.management_form }}

                    {% for form in formset %}

                    {{ form.id }}
                  
                      <tr>
                      
                        
                        
                      
                        
                      <td> 
                      
                        
                        {{form.initial.indicator.indicator_number}}
                        {% if form.initial.indicator.required %}
                        <span data-toggle="tooltip" title="Required indicator!" style="color: blue;" 
                        class=" bi-info-circle small "></span>{% endif %}</td>
                        <td>
                          <span class="d-none" >
                          {{form.indicator}}
                          </span>
                          {{form.initial.indicator}}
                          
                        </td>

                        <td>
                      
                     
                          <div class="input-group has-validation">
                        
                         
                            <span class="input-group-text">{% getInputDecorator form.initial.indicator %}</span>
                            {{ form.ind_value }}
                          
                            <div class="invalid-tooltip"> 
                              {{ form.errors }}
                            </div>
                          </div>
                         
                         
                          
                        </td>
                        <td>
                          {{form.comments|addclass:'form-control'}}
                         
                        </td>
    
                        <td class="text-center">
                          {{form.value_NA|addclass:'form-check-input'}}
                        </td>
              


                        
                        <td class="text-center">
                          {% comment %} Definition {% endcomment %}
                          <a data-toggle="modal" data-id=' {{form.initial.indicator.label}} <br> {{form.initial.indicator.definition}}'
                            title="Show Definition" class="open-Definition btn btn-primary btn-esm" href="#openDefinition">
                            <span class="fa fa-eye"></span></a>
                          
                          </td>

                       
                        
                      </tr>
                      {% endfor %} 

                    </tbody> 
              {% endif %}
            </table>

                
               
            <button id="btncancel" type="button" class="btn btn-dark float-end "  >
              <a class="text-decoration-none text-white"  href="{% url 'portaldata:dataentrybyms' %}">Close</a></button>
              <button id="save"  type="submit" class="btn btn-primary  float-end me-4">Save</button>

             
              
              </form>
             
            </div>
                     
                 
                    
                      
      
    
  </div>
</div>
</div>

</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>

<div class="modal fade" id="definitionModal" tabindex="-1" aria-labelledby="definitionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-start">
      <div class="modal-header">
        <h5 class="modal-title" id="definitionModalLabel">Definition </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body justify-content-end text-justify ">
        <div  id="indLabel" class="modal-title fw-bold">{{ indicator.label }}</div>
        
        <p  name="indDefinition" id="indDefinition" > </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div> 


 <script>

    //Function to disable input field (data) when a Value NA is checked.
    function toggleIndValue(clicked_id) {

      var value_NA = document.getElementById(clicked_id);
      console.log(value_NA);
      console.log(value_NA.checked);
      
      //to get the initial 10 strings of the cheked id e.g. form_0-
      var id_value = clicked_id.substring(0,10); //to get the initial 10 strings of the cheked id e.g. form_0-
       
       // concat ind_value at the end of the sub string from above e.g. form_0-ind_value to get the data input field on the same row
      var ind_value_label = id_value+"ind_value" 

      var input_field = document.getElementById(ind_value_label)
 
      if (value_NA.checked=== true) {
        input_field.value = '';
        input_field.disabled = true;
        
      }
      else {
        input_field.disabled = false;
      }
      

      
    }
  
  

$(document).on("click", ".open-Definition", function () {
  
  var myDef = $(this).data('id');
 
  $(".modal-body #indDefinition").html( myDef );
  // As pointed out in comments, 
  // it is unnecessary to have to manually call the modal.
  $('#definitionModal').modal('show');
});
</script> 


{% endblock content %}


{% block extra_js %}





<script src="{% static 'js/confirmExit.js' %}"></script>

{% endblock extra_js %}