@import "https://code.highcharts.com/css/highcharts.css";

.highcharts-title {
    fill: #434348;
    font-weight: bold;
    /* letter-spacing: 0.3em; */
    /* font-size: 1em; */
    /* width: 100%;
    border: 1px solid #434348;
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x); */
    margin-bottom: 0;
    padding-bottom: 120px;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.highcharts-plot {
    background-color: aqua;
}

.chart-outer {
    max-width: 800px;
    margin: 2em auto;
}

#container {
    height: 300px;
    margin-top: 2em;
    min-width: 380px;
}

.highcharts-table-caption {
    margin-bottom: 5px;
    font-family: sans-serif;

    font-size: 10pt;
}

.highcharts-data-table table {
    border-collapse: collapse;
    border-spacing: 0;
    background: white;
    min-width: 100%;
    margin-top: 10px;
}

.highcharts-data-table td,
.highcharts-data-table th {
    text-align: center;
    font-family: sans-serif;
    font-size: 10pt;
    border: 1px solid silver;
    padding: 0.5em;
}

.highcharts-data-table tr:nth-child(even),
.highcharts-data-table thead tr {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #eff;
}


:fullscreen .highcharts-title {

    display: block;

}

:fullscreen .highcharts-subtitle {

    display: block;

}

@media screen {
    .highcharts-title {
        display: none;

    }

    .highcharts-subtitle {
        display: none;

    }
}

/* @media print {
    .highcharts-subtitle {
        display: block;
        margin-top: 5px;
    }
} */